{% extends "base.html" %}

{% block content %}
  <p> Here comes the singin form</p>
  {% if form.errors %}
    <p>Sorry, that's not a valid username or password</p>
  {% endif %}

  <form action="" method="POST">
      {% csrf_token %}
      <label for="username">Username:</label>
      <input type="text" name="username" value="" id="username">
      <label for="password">Password:</label>
      <input type="password" name="password" value="" id="password">
      <input type="submit" value="Login">
      <input type="hidden" name="next" value="{{ next|escape }}"/>
  </form>
  {% endblock %}
