

{% extends "base.html" %}

{% block content %}
<p> Hello {{ user }} that's the project overview:</p>
<p>Create a new projec <a href="create_project"> here</a>!</p>

<p>Here are your existing projects</p>
<table>
    
    {% for item in result_list %}
    <tr>
        <td><img src={{MEDIA_ROOT}}/page_docs/{{ item.0.page }}></td>
        <td>{{ item.1.project_name }}</td>
        <td>{{ item.1.project_description }}</td>
        <td>{{ item.1.visibility }}</td>
    </tr>
    {% empty %}
    <tr>
        <td>You  don't have any projects yet.</td>
    </tr>
    {% endfor %}
    {% endblock %}
